<!DOCTYPE html>
<div class="slideout-menu">
	<h3>Menu <a href="#" class="slideout-menu-toggle">×</a></h3>
	<ul>
		<li><a href="#">Home <i class="fa fa-angle-right"></i></a></li>
		<li><a href="#">Tour Information <i class="fa fa-angle-right"></i></a></li>
		<li><a href="#">Tour Pricing <i class="fa fa-angle-right"></i></a></li>
		<li><a href="#">Photo Gallery <i class="fa fa-angle-right"></i></a></li>
		<li><a href="#">News & Events <i class="fa fa-angle-right"></i></a></li>
	</ul>
    <style src="C:\Users\samuel\PycharmProjects\ParkVH\app\static\css\menu.css"></style>
    <style src="C:\Users\samuel\PycharmProjects\ParkVH\app\static\js\menu.js"></style>
</div>
<!--/.slideout-menu-->